footer {
    background-color: $button-primary;
    margin-top: 60px;
    padding: 10px 0;
        div {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
        }
}