footer {
    background-color: $option-active;
    margin-top: 60px;
    padding: 10px 0;
        div {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
                p {
                    font-size: 2rem;
                }
                a {
                    font-style: italic;
                }
        }
}