/* MINOR BREAKPOINT 1: large desktops */
@media (min-width: 1250px) {
    // HEADER
    header div.text-container {
        margin-top: 20vh;
    }
}

/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 940px) {
    // HEADER
    header h1 {
        font-size: 7.4rem;
    }

    // MAIN - DYNAMIC RESULTS
    .results-image-and-text {
        .results-image,
        .results-text {
            width: 50%;
        }
    }

    // FOOTER
    footer div p {
        font-size: 1.5rem;
    }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
    // HEADER
    header {
        background-image: url(../assets/header-ipad.jpg);
            h1 {
                font-size: 7rem;
            }
    }

    // MAIN - FORM
    .form-section fieldset {
        legend {
            margin: 20px auto 40px auto;
        }
        .three-options-container .option-center {
            margin: 0;
        }
        .three-options-container,
        .two-options-container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
                .option {
                    width: calc(100% - 160px);
                    margin: 0 80px 80px 80px;
                }
        }
        .arrow {
            margin: 0 0 20px 0;
        }
    }

    .form-section button.generator-button {
        margin-top: 0;
    }

    // MAIN - DYNAMIC RESULTS
    .results-image-and-text {
        flex-direction: column;
        align-items: center;
            .results-image,
            .results-text {
                width: 90%;
            }
            .results-text {
                margin-top: 30px;
                padding: 0;
                min-height: 400px;
            }
    }

    .dynamic-heading {
        font-size: 3.5rem;
        width: 350px;
    }

    // FOOTER
    footer div {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
            p {
                line-height: 2rem;
            }
    }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
    // HEADER
    header {
        background-image: url(../assets/header-mobile.jpg);
        background-attachment: scroll;
        background-position: center 35%;
            h1 {
                font-size: 5.4rem;
            }
            div.text-container {
                margin: 10vh auto 60px auto;
                width: 270px;
                    .generator-button,
                    .start {
                        font-size: 1.5rem;
                        width: 250px;
                    }
            }
    }

    // MAIN - FORM
    .form-section fieldset {
        legend {
            margin-bottom: 20px;
                h2 {
                    font-size: 2rem;
                }
        }
        .three-options-container .option,
        .two-options-container .option {
            width: calc(100% - 100px);
            margin: 0 50px 50px 50px;
                label {
                    margin-top: 20px;
                    width: 160px;
                    font-size: 1.5rem;
                }
        }
    }

    // MAIN - DYNAMIC RESULTS
    .results-image-and-text {
            .results-image,
            .results-text {
                width: 100%;
            }
            .results-text {
                margin-top: 30px;
                padding: 0;
                min-height: 400px;
                    .results-title {
                        letter-spacing: 0.4rem;
                    }
            }
    }

    .dynamic-heading {
        font-size: 2.5rem;
        width: 300px;
    }

    // FOOTER
    footer div p:first-child{
        width: 160px;
    }
}