// DYNAMIC RESULTS STYLING ----------
.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
        .results-container-main,
        .results-container-secondary {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
}

.results-image-and-text {
    display: flex;
    justify-content: center;
        .results-image,
        .results-text {
            width: 37%;
        }
        .results-text {
            padding: 0 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
                .results-title {
                    border: 1px solid $font-colour;
                    box-shadow: 0 0 5px $font-colour;
                    background-color: $secondary-colour;
                    text-transform: uppercase;
                    font-size: 2rem;
                    line-height: 3rem;
                    letter-spacing: 0.5rem;
                    visibility: hidden;
                    margin-bottom: 7px;
                }
        }
}

// CLASSES FOR MINOR STYLING OG APPENDED BREED TEXT (APPLIED IN JS) ---------- 
.result-height {
    display: flex;
    min-height: 100vh;
}

.dynamic-heading {
    font-size: 3.5rem;
    margin: 0 0 15px 0;
    text-align: center;
}

.dynamic-breed {
    border-bottom: 2px solid $option-active;
    font-style: italic;
        &:hover,
        &:focus,
        &:active {
            color: $option-active
        }
}

.dynamic-text {
    font-size: 2.0rem;
    line-height: 2.6rem;
}

.dynamic-image {
    box-shadow: 0 0 5px $font-colour;
    background-color: $secondary-colour;
}

.dynamic-button {
    background-color: $option;
    font-weight: 700;
    width: 300px;
        &:hover,
        &active,
        &focus {
            background-color: $option-active;
        }
}

// .dynamic-links {
//     // styling here for similar breeds
// }