// DYNAMICALLY APPENDED RESULTS SECTION --------------------
// #results {
//     border: 1px solid red;
// }

// .results-image {
//     box-shadow: 0 0 5px $font-colour;
//     width: auto;
// }


.results-image-and-text {
    display: flex;
    border: 1px solid blue;
}

.results-image,
.results-text {
    border: 1px solid red;
    width: calc(100% / 2);
}

// <section id="results">

//     <div class="results-heading">
//         <!-- dynamically appended heading (breed name) -->
//     </div>

//     <div class="results-container">
//         <div class="results-image-and-text">
//             <div class="results-image">
//                 <!-- dynamically appended image (breed image) -->
//             </div>
//             <div class="results-text">
//                 <div class="temperament">
//                     <!-- dynamically appended text (breed temperament) -->
//                 </div>
//                 <div class="life-expec">
//                     <!-- dynamically appended text (breed life expectancy) -->
//                 </div>
//                 <div class="group">
//                     <!-- dynamically appended text (breed group) -->
//                 </div>
//                 <div class="similar-breeds">
//                     <!-- dynamically appended text (similar breed) -->
//                 </div>
//                 <div class="learn-more">
//                     <!-- dynamically appended text (learn more button) -->
//                 </div>
//             </div>
//         </div>
//     </div>

//     <div class="different-traits-button">
//         <!-- dynamically appended reset button -->
//     </div>

// </section>