html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
p,
h1,
h2,
h3,
a,
button,
form {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #ABC5D2;
  font-family: "Roboto", sans-serif;
}

body, html {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

header {
  min-height: 100vh;
  padding: 30px 0 20px 0;
  background-image: url(../assets/header-banner.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

header h1 {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Domine", serif;
}

header div.text-container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 300px;
  min-height: auto;
  border: 1px solid #000000;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  padding: 0 20px 17px;
  margin-top: 10vh;
  text-align: center;
}

header div.text-container p {
  margin-top: 17px;
  text-align: left;
}

.generator-button {
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #7397AF;
  border: 1px solid #000000;
  -webkit-box-shadow: 0 2px 3px #000000;
          box-shadow: 0 2px 3px #000000;
  padding: 10px 0;
  width: 260px;
  margin-top: 15px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.generator-button:hover, .generator-button:active, .generator-button:focus {
  background-color: #577e98;
  letter-spacing: 1.3px;
}

.start {
  font-size: 1.7rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #e9bd5f;
  border: 1px solid #000000;
  -webkit-box-shadow: 0 2px 3px #000000;
          box-shadow: 0 2px 3px #000000;
  margin-top: 17px;
  padding: 10px 0;
  width: 260px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.start:hover, .start:focus, .start:active {
  background-color: #ce8a24;
  letter-spacing: 1.5px;
}

.arrow {
  margin-top: 40px;
  font-size: 6rem;
  height: 55px;
}

.form-section {
  min-height: 100vh;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.form-section fieldset {
  border: none;
}

.form-section fieldset legend h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.form-section fieldset .three-options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-section fieldset .two-options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form-section button.generator-button {
  margin-top: 50px;
}

.odd-section {
  background-color: #7397AF;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.option .image-div {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
}

.option label {
  position: relative;
  overflow: hidden;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #e9bd5f;
  border: 1px solid #000000;
  width: 200px;
  padding: 15px 0;
  margin-top: 40px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.option label:hover, .option label:active, .option label:focus {
  background-color: #ce8a24;
  letter-spacing: 3px;
}

.option input[type=radio] {
  position: absolute;
  bottom: 0;
  opacity: 0;
}

.option input[type=radio]:checked + label {
  background-color: #ce8a24;
  letter-spacing: 3px;
  font-weight: 700;
}

.three-options-container .option {
  width: calc(100% / 3 - 40px);
}

.three-options-container .option label {
  width: 170px;
}

.three-options-container .option-center {
  margin: 0 40px;
}

.two-options-container .option {
  width: calc(100% / 3 - 40px);
  margin: 0 40px;
}

.form-button {
  height: 60px;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
}

.form-button:hover, .form-button:active, .form-button:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse 2s 3;
          animation: pulse 2s 3;
  background-color: #577e98;
}

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.results .results-container-main,
.results .results-container-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-image-and-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.results-image-and-text .results-image,
.results-image-and-text .results-text {
  width: 36%;
}

.results-image-and-text .results-text {
  margin-left: 20px;
  padding: 0 0 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #000000;
  -webkit-box-shadow: 0 0 5px #000000;
          box-shadow: 0 0 5px #000000;
  border-top: none;
}

.results-image-and-text .results-text .results-title {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: #7397AF;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: 0.5rem;
  visibility: hidden;
  margin-bottom: 7px;
}

.result-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

.dynamic-heading {
  font-size: 3.5rem;
  margin: 0 0 15px 0;
  text-align: center;
}

.dynamic-breed,
.dynamic-links {
  font-style: italic;
}

.dynamic-breed:hover, .dynamic-breed:focus, .dynamic-breed:active,
.dynamic-links:hover,
.dynamic-links:focus,
.dynamic-links:active {
  color: #ce8a24;
}

.dynamic-links {
  font-weight: 700;
}

.dynamic-text {
  font-size: 2.0rem;
  line-height: 2.6rem;
  margin: 0 5px 0;
}

.dynamic-image {
  border: 1px solid #000000;
  padding: 10px;
  -webkit-box-shadow: 0 0 5px #000000;
          box-shadow: 0 0 5px #000000;
  background-color: #7397AF;
}

.dynamic-button {
  width: 280px;
  background-color: #e9bd5f;
  font-weight: 700;
}

.dynamic-button:hover, .dynamic-button:active, .dynamic-button:focus {
  background-color: #ce8a24;
}

footer {
  background-color: #ce8a24;
  margin-top: 60px;
  padding: 10px 0;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

footer div p {
  font-size: 2rem;
  opacity: 0.7;
}

footer div a {
  font-style: italic;
  opacity: 0.5;
}

/* MINOR BREAKPOINT 1: large desktops */
@media (min-width: 1250px) {
  header div.text-container {
    margin-top: 20vh;
  }
}

/* MAJOR BREAKPOINT 1: small desktop & portrait tablet */
@media (max-width: 1000px) {
  header h1 {
    font-size: 7.2rem;
  }
  .results-image-and-text .results-image,
  .results-image-and-text .results-text {
    width: 50%;
  }
  footer div p {
    font-size: 1.5rem;
  }
}

/* MAJOR BREAKPOINT 2: portrait tablet & landscape phone */
@media (max-width: 768px) {
  header {
    background-image: url(../assets/header-ipad.jpg);
  }
  header h1 {
    font-size: 7rem;
  }
  .form-section fieldset legend {
    margin: 20px auto 40px auto;
  }
  .form-section fieldset .three-options-container .option-center {
    margin: 0;
  }
  .form-section fieldset .three-options-container,
  .form-section fieldset .two-options-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-section fieldset .three-options-container .option,
  .form-section fieldset .two-options-container .option {
    width: calc(100% - 160px);
    margin: 0 80px 80px 80px;
  }
  .form-section fieldset .arrow {
    margin: 0 0 20px 0;
  }
  .form-section button.generator-button {
    margin-top: 0;
  }
  .results-image-and-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .results-image-and-text .results-image,
  .results-image-and-text .results-text {
    width: 90%;
  }
  .results-image-and-text .results-text {
    margin: 30px 0 0;
    padding: 0 0 15px;
    min-height: 400px;
  }
  .dynamic-heading {
    font-size: 3.5rem;
    width: 350px;
  }
  footer div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer div p {
    line-height: 2rem;
  }
}

/* MAJOR BREAKPOINT 3: landscape phone & down */
@media (max-width: 480px) {
  header {
    background-image: url(../assets/header-mobile.jpg);
    background-attachment: scroll;
    background-position: center 35%;
  }
  header h1 {
    font-size: 5.4rem;
  }
  header div.text-container {
    margin: 10vh auto 60px auto;
    padding: 0 10px 17px;
    width: 270px;
  }
  header div.text-container .generator-button,
  header div.text-container .start {
    font-size: 1.5rem;
    width: 250px;
  }
  .form-section fieldset legend {
    margin-bottom: 20px;
  }
  .form-section fieldset legend h2 {
    font-size: 2rem;
  }
  .form-section fieldset .three-options-container .option,
  .form-section fieldset .two-options-container .option {
    width: calc(100% - 100px);
    margin: 0 50px 50px 50px;
  }
  .form-section fieldset .three-options-container .option label,
  .form-section fieldset .two-options-container .option label {
    margin-top: 20px;
    width: 160px;
    font-size: 1.5rem;
  }
  .results-image-and-text .results-image,
  .results-image-and-text .results-text {
    width: 100%;
  }
  .results-image-and-text .results-text .results-title {
    letter-spacing: 0.4rem;
  }
  .dynamic-heading {
    font-size: 2.5rem;
    width: 300px;
  }
  footer div p:first-child {
    width: 160px;
  }
}
